<div class="container">
  <div class="row">
    <form *ngIf="garage" #garageForm="ngForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" 
        class="form-control" 
        id="name" required minlength="2" maxlength="255"
        aria-describedby="nameHelp" 
        [(ngModel)]="garage.name"
        name="name"
        >
        <small id="NameHelp" class="form-text text-muted">Enter here the name of the new garage.</small>
        <small *ngFor="let err of retrieveErrors('name')" class="form-text text-danger">{{ err }}</small>
      </div>

      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" 
        class="form-control" 
        id="street" minlength="2" maxlength="255"
        aria-describedby="streetHelp" 
        [(ngModel)]="garage.street"
        name="street"
        >
        <small id="streetHelp" class="form-text text-muted">Enter here the street of the new garage.</small>
        <small *ngFor="let err of retrieveErrors('street')" class="form-text text-danger">{{ err }}</small>
      </div>

      <div class="form-group">
        <label for="streetComplement">StreetComplement</label>
        <input type="text" 
        class="form-control" 
        id="streetComplement"  minlength="2" maxlength="255"
        aria-describedby="streetComplementHelp"
        [(ngModel)]="garage.streetComplement" 
        name="streetComplement"
        >
        <small id="streetComplementHelp" class="form-text text-muted">Enter here the streetComplement of the new
          garage.</small>
          <small *ngFor="let err of retrieveErrors('streetComplement')" class="form-text text-danger">{{ err }}</small>  
      </div>

      <div class="form-group">
        <label for="postalCode">postalCode</label>
        <input type="text" 
        class="form-control" 
        id="postalCode" minlength="2" maxlength="10"
        aria-describedby="postalCodeHelp"
        [(ngModel)]="garage.postalCode" 
        name="postalCode"
        >
        <small id="postalCodeHelp" class="form-text text-muted">Enter here the postalCode of the new garage.</small>
        <small *ngFor="let err of retrieveErrors('postalCode')" class="form-text text-danger">{{ err }}</small>
      </div>

      <div class="form-group">
        <label for="city">city</label>
        <input type="text" 
        class="form-control" 
        id="city" minlength="2" maxlength="255"
        aria-describedby="cityHelp" 
        [(ngModel)]="garage.city"
        name="city"
        >
        <small id="cityHelp" class="form-text text-muted">Enter here the city of the new garage.</small>
        <small *ngFor="let err of retrieveErrors('city')" class="form-text text-danger">{{ err }}</small>
      </div>

      <div class="form-group">
        <label for="owner">Owner</label>
        <input type="text" 
        class="form-control" 
        id="owner" minlength="2" maxlength="255"
        aria-describedby="ownerHelp" 
        [(ngModel)]="garage.owner"
        name="owner"
        >
        <small id="ownerHelp" class="form-text text-muted">Enter here the owner of the new garage.</small>
        <small *ngFor="let err of retrieveErrors('owner')" class="form-text text-danger">{{ err }}</small>
      </div>

      <button type="submit" class="btn btn-custom">Save the garage</button>
    </form>
  </div>
</div>