<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" >My Dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown" role="button" data-toggle="dropdown" href="#"><i class="fa fa-user-circle"></i> Admin <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-user-secret"></i> My Profile</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>

<!-- /Header -->

<!-- Main -->
<div class="container">

<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">

    <ul class="nav nav-pills nav-stacked" style="border-right:1px solid black">
        <!--<li class="nav-header"></li>-->
        <li><a href="#" [routerLink]="'/user/listuser'"><i class="fa fa-user"></i> Utilisateurs</a></li>
        <li><a href="#" [routerLink]="'/annonce/listannonce'"><i class="fa fa-tags"></i> Annonce</a></li>
        <li><a href="#" [routerLink]="'/garage/listgarage'"><i class="fa fa-car"></i> Garage</a></li>
    </ul>
</div><!-- /span-3 -->
<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
    <!-- Right -->
</div>
    <a href="#"><strong><span class="fa fa-dashboard"></span> My Dashboard</strong></a>
    <hr>

    <div class="card" style="width: 100rem;">
        <div class="card-body">
    <div>
      <p class="card-text">Nombre total d'annonces en ligne : <span> {{totalAnnonce}}</span></p>
        <h5>Dernières annonces ajoutées :
        <table class="table" >
        <thead class="thead-light">
            <tr>
                <th>n° annonce</th>
                <th>Véhicule</th>
                <th>Modèle</th>
                <th>km</th>
            </tr>
        </thead>
        <tbody *ngFor="let annonce of arraylistAnnonce" class="link"
                [routerLink]="['/annonces/annonce/',annonce.id]"> 
              <tr>
                <td> {{ annonce.id }}</td>
                <td> {{ annonce.brand}} </td>
                <td> {{ annonce.model}} </td>
                <td> {{ annonce.km }} </td>
            </tr>
        </tbody>
        <a class="btn btn-secondary" routerLink='/annonces'>Voir les annonces</a>
    </table>




   <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Les garages</h5>
          <p class="card-text">Nombre total de garages : <span>{{totalGarage}}</span></p>
          <p class="card-text">Les derniers garages ajoutés :</p>
            <ol>
              <li *ngFor="let garage of arraylistGarage" class="link" [routerLink]="['/garage/listgarage',garage.id]">
                {{garage.name}} - {{garage.city}} - {{garage.postalcode}} 
              </li>
            </ol>
          <a class="btn btn-secondary " routerLink='/user/listuser'>List Garage</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Les professionnels/users</h5>
          <p class="card-text">Nombre total de utilisateurs inscrit : <span>{{totalUser}}</span></p>
          <p class="card-text">Les derniers utilisateurs inscrits :</p>
            <ol>
              <li *ngFor="let user of arraylistUser" class="link" [routerLink]="['/users/user/',user.id]">
                {{user.lastName}} - {{user.firstName}} - {{user.phone}}
              </li>
            </ol>
          <a class="btn btn-secondary" routerLink='/user/listuser'>List Users</a>
        </div>
      </div>
    </div>
    </div>

