.navbar-inverse
{
    background:#00ADB5;
    border-bottom-color: #393E46;
}
.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>.dropdown>a .caret
{
    color: #fff;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus,
.navbar-nav>li>.dropdown-menu
{
    background:#4DB6AC;
}
.nav-pills>li>a
{
    color: #393E46;
}

.nav>li>a:hover, .nav>li>a:focus
{
    background-color: #EEEEEE;
}