<p>list-user works!</p>



Page de liste des utilisateurs avec pagination 
(btn add, edit, del)

<div>
    <button type="button" class="btn btn-secondary" [routerLink]="''">
        Retour
      </button>
    </div>


<tr *ngFor="let user of users">
  <td scope="row"> {{user.id}}</td>
  <td> {{ user.lastName }} </td>
  <td> {{ user.firstName }} </td>
  <td> {{ user.email }} </td>
 <td></td> 
 </tr>

 <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li *ngIf="prevLink !== null" class="page-item">
      <a class="page-link" (click)="loadPrevPage()">
        Previous</a></li>
    <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li> -->
    <li *ngIf="nextLink !== null" class="page-item">
      <a class="page-link" (click)="loadNextPage()">
        Next</a></li>
  </ul>
</nav>

