/* You can add global styles to this file, and also import other style files */


@import '~bootstrap/scss/bootstrap';

.btn-primary {
    color : white;
    background-color:#00ADB5;
    border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color:  #393E46;
}

.btn-secondary{
    color : white;
    background-color:#393E46;
    border: none;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color:  #222831;
    
}

