<div>
    <button type="button" class="btn btn-primary" routerLink="/dashbord">
        Retour
      </button>
</div>

<div class="m-4">
  <button type="button" class="btn btn-primary" routerLink="/garage/addnewgarage">
    Add new garage
  </button>
</div>
<div class="m-4" >
  <p>
    Total garage: <span class="font-weight-bold">{{this.listGarage}}</span>
  </p>
</div>

<!-- tab garage -->
<form #formFilters="ngForm" (ngSubmit)="applyFilters()">
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Street</th>
      <th scope="col">Street complement</th>
      <th scope="col">Postal code</th>
      <th scope="col">City</th>
      <th scope="col">Owner</th>
    </tr>
 <!-- seach by categories -->   
<tr>

  <td>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="filters.id" name="street">
    </div>
  </td>

  <td>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="filters.name" name="lastName">
    </div>
  </td>

  <td>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="filters.street" name="street">
    </div>
  </td>
  <td>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="filters.streetcomplement" name="streetcomplement">
    </div>
  </td>
  <td>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="filters.postalcode" name="postalcode">
    </div>
  </td>
  <td>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="filters.city" name="city">
    </div>
  </td>
  <td>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="filters.owner" name="owner">
    </div>
  </td>
  <td>
    <button type="submit" class="btn btn-custom">
      Search
    </button>
  </td>
</tr>
</thead>
    <!-- body tab -->
    <tbody>
    <tr *ngFor="let garage of garages">
        <td scope="row"> {{garage.id}}</td>
        <td> {{garage.name}}</td>
        <td> {{garage.street}}</td>
        <td> {{garage.streetcomplement}}</td>
        <td> {{garage.postalcode}}</td>
        <td> {{garage.city}}</td>
        <td> <span (click)="GarageOwner(garage.owner)"><a data-toggle="tooltip" data-placement="top" title="View user owner">{{garage.owner}}</a></span> </td> 
       
      <td>
        <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/garage/viewgarage', garage.id]">
        View
      </button>
      <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/garage/modifgarage', garage.id]">
        Edit
      </button>
      <button type="button" class="btn btn-sm btn-secondary" (click)="deleteGarage(garage.id)"> 
        Delete
      </button>  
    
    
    
    </td> 
    </tr>
  </table>
</form>  
  
<!-- navigation pagination -->
   <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li *ngIf="prevLink !== null" class="page-item">
        <a class="page-link" (click)="loadPreviousPage()">
          Previous</a></li>
      <li *ngFor="let page of getPageNumbers" class="page-item">
        <a class="page-link" (click)="loadPageByNumber(page)"> {{ page }} </a>
      </li>
      
      <li *ngIf="nextLink !== null" class="page-item">
        <a class="page-link" (click)="loadNextPage()">
          Next</a></li>
    </ul>
  </nav>
  
